body {
  background: #e9ebee;
  color: #1d2129;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  font-size: 12px;
}

div._header {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  height: 42px;
  position: relative;
  width: 100%;
  z-index: 301;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 42px;
  padding: 0 12px 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  font-weight: bold;
  vertical-align: middle;
}

div._center {
  margin: auto;
  margin-top: 10px;
  width: 40%;
  border: 1px outset #e9ebee;
  padding: 10px;
  background-color: #ffffff;
}

div._HeaderPost {
  margin-bottom: 80px;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

span._tempo {
  color: #616772;
}

#conteudo-left {
  /*Novamente definimos a largura da div*/
  width: 10%;
  /* altura da div */
  height: 60px;
  /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
  float: left;
}
#conteudo-right {
  /*Novamente definimos a largura da div*/
  width: 90%;
  /* altura da div */
  height: 70px;

  /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px,
automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
}
